/* body {
  margin: auto;
  padding: auto;
} */
.container {
    background-color: skyblue;
  
    padding: 0rem 3rem 3rem;
  }
  
  .nav a {
    color: white;
    gap: 10rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 23px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    background-color: black;
  }
  .logo {
    color: white;
  }
  .middle {
    display: flex;
    flex-direction: row;
    gap: 19rem;
    justify-content: space-between;
    padding: 7rem 8rem 0rem;
  }
  
  .middle h1 {
    color: balck;
    font-size: 5rem;
    font-weight: bolder;
  }
  .middle p {
    color: black;
    font-size: large;
  }
  .second img {
    width: 29rem;
    height: 39rem;
  }
  .firtst {
    text-align: center;
    padding-top: 7rem;
  }
  .button {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .frobtn {
    text-align: center;
  }
  .frobtn a {
    color: white;
    background-color: orange;
    font-size: 2rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-decoration: none;
    /* border: 2px solid black; */
    box-shadow: 0 0 12px pink;
    border-radius: 18px;
    padding: 12px;
    padding-top: 12px;
    text-align: center;
  }
  
  .sell h1 {
    font-size: 3rem;
    color: orange;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0rem 5rem;
    text-align: center;
  }
  .bento img {
    width: 36vw;
    height: 100%;
  }
  .bento{
  /* box-shadow: 0 0 12px grey; */
      border-radius: 3rem;
  }
  .bento_main {
  
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
  }
  .section {
    max-width: 80%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .bento_2 h1 {
    font-size: 3rem;
    color: orange;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .bento_2{
      padding-top: 4rem;
  }
  .bento_2 p{
      font-size: 2rem;
      text-align: justify;
      max-width: 54%;
      padding-left: 11rem;
  }
  #reverse{
      flex-direction: row-reverse;
  }
  
  .service h1{
      font-size: 3rem;
      color: black;
      font-family: Georgia, 'Times New Roman', Times, serif;
      padding: 0rem 5rem;
      text-align: center;
  }
  .service_grid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap:2rem;
      padding-top: 3rem;
  }
  .grid h1{
      font-size: 2.5rem;
  }
  .grid p{
     font-size: 23px;
     padding-bottom: 6rem;
  }
  .grid{
      display: flex;
      flex-direction: column;
      text-align: center;
      box-shadow: 0 0 12px black;
      border-radius: 1rem;
      max-width: 80%;
      margin: auto;
      padding: 23px;
  }
  .contact h1{
      text-align: center;
      
  }